<!DOCTYPE html>
{% load bootstrap_themes %}
{% bootstrap_styles theme='default' type='min.css' %}

<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
	{% for message in messages %}
	<li>{{message}}</li>
	{% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <ul class="nav nav-tabs">

	{% if user.is_authenticated %}

	<li class=""><a href="/accounts/profile/" data-toggle="tab">Profile</a></li>
	<li class=""><a href="{% url 'account_email' %}" data-toggle="tab" aria-expanded="true">Change E-mail</a></li>
	<li class=""><a href="{% url 'account_logout' %}" data-toggle="tab" aria-expanded="false">Sign Out</a></li>
	{% else %}
	<li class=""><a href="{% url 'account_login' %}" data-toggle="tab" aria-expanded="false">Sign In na tol</a></li>
	<li class=""><a href="{% url 'account_signup' %}" data-toggle="tab" aria-expanded="false">Sign Up</a></li>
	{% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
